NODE_ENV=development

PORT=5000

DATABASE_URL=postgresql://username:password@localhost:5433/prepagent

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

GEMINI_API_KEY=

SENDGRID_API_KEY=

CHROMA_HOST=http://localhost:8000

CORS_ORIGIN=http://localhost:3000

SENTRY_DSN=